html{
scroll-behavior:smooth;
}

body{
background:#050505;
color:white;
font-family:Inter,sans-serif;
overflow-x:hidden;
}

body::before{

content:"";

position:fixed;

width:900px;
height:900px;

left:-300px;
top:-300px;

background:#2563eb;

opacity:.15;

filter:blur(180px);

pointer-events:none;

z-index:-1;

}

body::after{

content:"";

position:fixed;

width:900px;
height:900px;

right:-300px;
bottom:-300px;

background:#7c3aed;

opacity:.12;

filter:blur(180px);

pointer-events:none;

z-index:-1;

}

.glass-card{

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

transition:.4s;

}

.glass-card:hover{

transform:translateY(-10px);

border-color:#2563eb;

box-shadow:
0 0 60px rgba(37,99,235,.25);

}

.gradient-text{

background:linear-gradient(90deg,#fff,#3b82f6);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.grid-bg{

background-image:
linear-gradient(rgba(255,255,255,.04) 1px,transparent 1px),
linear-gradient(90deg,rgba(255,255,255,.04) 1px,transparent 1px);

background-size:60px 60px;

}