@import "tailwindcss";

body {
  background: #050505;
  color: white;
}

.gradient-bg {
  background: radial-gradient(
    circle at top,
    rgba(37,99,235,.20),
    transparent 50%
  );
}

.glass-card{
  background: rgba(255,255,255,.04);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,.08);
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
.btn-primary {
  @apply px-8 py-4 rounded-xl bg-blue-600 hover:bg-blue-700 transition;
}

.btn-secondary {
  @apply px-8 py-4 rounded-xl border border-white/10 bg-white/5 hover:bg-white/10 transition;
}